* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth; 
}
body {
    font-family: 'Forum', cursive;
    font-family: 'Inter', sans-serif;
}
h1 {
    font-family: 'Forum', cursive;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: .02em;
}
h2 {
    font-family: 'Forum', cursive;
    font-size: 40px;
    color: #0C0C0E;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    margin-bottom: 61px;
}
h2::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    margin: 0 auto;
}
h3 {
    font-family: 'Forum', cursive;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    margin: 15px 0px 20px 0px;
    position: relative;
}
h3::after {
    content: "";
    position: absolute;
    top: 37px;
    left: 0;
    width: 60px;
    height: 1px;
    background-color: #BB945F;
}
li {
    list-style: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header-container {
    height: 90px;
    display: flex;
    align-items: center;
    background: #0C0C0E;
}
.header-left {
    margin-left: 20px;
    margin-right: 439px;
    white-space: nowrap;
}
.header-center {
    margin-right: 25px;
    white-space: nowrap;
}
.nav-list {
    display: flex;
}
.nav-link {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 50px;
    padding: 0 15px;
}
.header-right {
    margin-right: 20px;
}
.welcome-section-bg {
    height: 600px;
    background: url(/library/assets/img/bg.jpeg) center/cover no-repeat; 
    position: relative;
    margin-bottom: 20px;
}
.welcome-section-gradient {
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}
.welcome-section-text {
    height: 220px;
    width: 600px;
    background-color: #0C0C0E;
    position: absolute;
    bottom: 160px;
    font-family: 'Forum', cursive;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 35px 40px;
}
.about-section {
    margin-bottom: 55px;
}
.about-section p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.slider-container {
    overflow: hidden;
    width: 1400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 35px;
}
.slider-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-item {
    height: 560px;
    margin-right: 25px;
}
.slider-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-button-bg {
    height: 26px;
    width: 26px;
    position: relative;
}
.slider-button-bg:hover {
    cursor: pointer;
    transition: 1s;
}
.slider-button {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
    position: absolute;
    top: 5px;
    left: 5px;
}
.slider-button:hover {
    background-color: #BB945F;
}
.active {
    background-color: #BB945F;
}
.active:hover {
    background-color: #0C0C0E;
}
.fav-section-text{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 40px;
}
.season-choice {
    display: flex;
    margin-left: 20px;
}
.season-choice-button {
    accent-color: #000000;
    margin-bottom: 40px; 
}
.season-choice-button input {
    margin-right: 20px;
}
.season-choice-button input, label:hover {
    cursor: pointer;
}
.season-choice-button label{    
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    margin-right: 90px;
}
.season-choice-button .checked {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}
.book-cards {
    display: flex;
}
.book-card-full {
    width: 590px;
    height: 555px;
    position: relative;
}
.book-card {
    width: 550px;
    height: 555px;
    border: 1px solid #000000;
    margin-left: 20px;
    padding-left: 20px;
}
.book-name {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.book-author {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.book-descr {
    width: 355px;
    height: 320px;
    margin-bottom: 15px;

}
.book-descr p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book-card-img {
    position: absolute;
    bottom: -4px;
    right: -20px;
}
.book-card-button {
    background-color: #ffffff;
    border: 1px solid #0C0C0E;;
    border-radius: 2px;
    width: 75px;
    height: 30px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: 700;
    letter-spacing: 1px;
}
